.details-template {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 1270px;
  justify-content: center;
}

.details-template__heading {
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 90%;
}

.details-template__title {
  position: absolute;
  top: 0;
  font-size: 32px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
}

.details-template__type {
  font-size: 32px;
  font-weight: bold;
  color: white;
  width: 80%;
  text-align: center;
  margin: 10px
}

.details-template__image {
  width: 100%;
}

.details-template__waffle {
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  color: darkslategray;
  width: 90%;
}

.details-template__content-heading {
  font-size: 24px;
  font-weight: bold;
  color: darkslategray;
  width: 100%;
  margin: 20px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
}
