.search {
  position: relative;
  width: 300px;
  position: fixed;
  top: 96px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  height: 116px;
  z-index: 1000;
}

.search > * {
  margin-right: 3px;
}

.search__input {
  width: 240px;
  transition: all 0.3s;
}

.search__input:focus {
  transform: scale(1.02);
}

.search__select {
  width: 300px;
}

.search__submit {
  width: 54px;
}

.search__suggest {
  position: absolute;
}

.search__suggestion {
  border-radius: 5px;
  width: 300px;
  background: lightgray;
  border: solid 1px gray;
  height: 58px;
  z-index: 0;
  text-align: center;
  vertical-align: middle;
}