.search {
  width: 300px;
  position: fixed;
  top: 96px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  height: 116px;
  z-index: 1000;
}

.search > * {
  margin-right: 3px;
}

.search__input {
  width: 240px;
  transition: all 0.3s;
}

.search__input:focus {
  transform: scale(1.02);
}

.search__select {
  width: 300px;
}

.search__submit {
  width: 54px;
}